@{
    ViewData["Title"] = "View Products";
}
@model IEnumerable<BrickVault.Models.Product>


<br/>
<div class="row">
    <div class="col-10">
        <h1>Products</h1>
    </div>
    <div class="col-2">
        <a class="float-end btn btn-secondary" href="@Url.Action("AdminAddProduct")">Add Product</a>
    </div>
</div>

<br/>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Year</th>
        <th>Price</th>
        <!-- Add more columns as needed -->
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td class="d-flex justify-content-center align-items-center" style="height: 120px;">
                    <img src="@product.ImgLink" alt="Product Image" style="height:100px;" />
                </td>
                <td>@product.Name</td>
                <td>@product.Year</td>
                <td>$@product.Price</td>
                <td>
                    <a class="btn btn-primary" asp-action="AdminEditProduct" asp-route-id="@product.ProductId">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="DeleteProductConfirmation" asp-route-productId="@product.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>