@model List<BrickVault.Models.AspNetUser>

@{
    ViewBag.Title = "User List";
    Layout = "_Layout"; // Assuming _Layout.cshtml is the layout file you want to use
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th></th>
        <th></th>
        
        <!-- Add more headers as needed -->
    </tr>
    </thead>
    
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            @* <td>@string.Join(", ", user.Roles.Select(role => role.Name))</td> *@
            <td><a class="btn btn-primary" asp-action="AdminEditUsers" asp-route-id="@user.Id">Edit</a></td>
            <td><a class="btn btn-danger" asp-action="DeleteUserConfirmation" asp-route-id="@user.Id">Delete</a></td>
            <!-- Add more data cells as needed -->
        </tr>
    }
    <tr>
        <td><a asp-page="/Account/Register" asp-area="Identity" class="btn btn-success align-content-end">Add</a></td>
    </tr>
    
    </tbody>
    
</table>