@{
    ViewData["Title"] = "Review Orders";
    var random = new Random();
}

<h1>Review Orders</h1>
<br/>

@* <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Country of Transaction</th>
            <th>Total</th>
            <th>Order Date</th>
            <th>Fraudulent</th>
            <th class="prediction-cell">Fraud Prediction</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Orders.TransactionID</td>
                <td>@item.Orders.CountryOfTransaction</td>
                <td>@item.Orders.Amount</td>
                <td>@item.Orders.Date</td>
                <td>@item.Orders.Fraud</td>
                <td class="prediction-cell">@item.Prediction</td>
            </tr>
        }
    </tbody>
</table> *@


<div class="container align-content-center col-10">
    <table class="table table-hover">
        <thead class="dark">
        <tr>
            <th>Transaction ID</th>
            <th>Country of Transaction</th>
            <th>Total</th>
            <th>Order Date</th>
            <th>Flag</th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < 10; i++)
        {
            <tr>
                <td>Row @i</td>
                <td>USA</td>
                <td>@random.Next(0, 101)</td>
                <td>10/22/2023</td>
                <td>Needs review!</td>
            </tr>
        }
        </tbody>
    </table>
</div>
